@import "./../../common/base.css";

.ui_box {
  background-color: yellow;
}

.channel_list {
  display: flex;
  flex-flow: row wrap;
  list-style: "";
  padding-inline-start: 0;
  margin-block: 0;
  inline-size: 60%;
  margin-inline: auto;
  background-color: tomato;
  gap: 1.5em;
}

.item {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  min-inline-size: 150px;
}

.thumb {
  background-color: aqua;
  aspect-ratio: 1/1;
}

.image {
  width: 100%;
  inline-size: 100%;
  vertical-align: middle;
}

.title {
  flex-basis: 40px;
}
