@import "./../../common/base.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.masonry-layout {
  columns: 4;

  figure {
    margin: 2rem 0;
    border: 1px solid currentColor;
    padding: 1rem;
    position: relative;

    &:first-child {
      margin-top: 0;
      margin-block-start: 0;
    }
  }

  img {
    max-inline-size: 100%;
    display: block;
    filter: sepia();
    &:hover {
      filter: none;
    }
  }

  figcaption {
    background: rgba(0 0 0 /0.5);
    position: absolute;
    padding: 1rem;
    color: #fff;
    /* backdrop-filter: blur(10px); */
    inset-inline: 1rem;
    inset-block-end: 1rem;

    &:hover {
      backdrop-filter: none;
    }
  }

  /* .cat figcaption {
    inset-block: 1rem;
    inset-inline: 1rem;
  }

  .dog figcaption {
    inset-block-start: 1rem;
    inset-inline-end: 1rem;
  }

  .unsplash figcaption {
    inset-block-end: 1rem;
    inset-inline-end: 1rem;
  } */

  @media (max-width: 1024px) {
    columns: 3;
  }

  @media (max-width: 768px) {
    columns: 2;
  }
}
