@import "./../../common/base.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.masonry-layout {
  min-inline-size: 768px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-row: auto;
  gap: 1rem;
  /* align-items: center; */

  figure {
    border: 1px solid currentColor;
    position: relative;
    align-content: center;
    padding: 1rem;
    margin: 0;
  }

  img {
    max-inline-size: 100%;
    display: block;
    /* filter: grayscale(1); */
    filter: brightness(0.6);
    margin: 0;
    &:hover {
      filter: none;
    }
  }

  figcaption {
    background: rgba(0 0 0 /0.5);
    position: absolute;
    padding: 1rem;
    color: #fff;
    inset-inline: 0rem;
    inset-block-end: 0rem;
  }
}

/* 
@import "./../../common/modern-reset.css";
@import "./../../common/base.css";

.masonry-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  .span-2 {
    grid-row: span 2;

    img {
      aspect-ratio: 1 / 1.5;
    }
  }
}

.card {
  border: 1px solid var(--gray);
  padding: 1rem;
  position: relative;

  img {
    aspect-ratio: 1 / 0.67;
    object-fit: cover;
    filter: sepia();

    &:hover {
      filter: none;
    }
  }

  figcaption {
    background: rgba(0 0 0 / 0.5);
    backdrop-filter: blur(10px);
    padding: 1rem;
    color: var(--white);
    position: absolute;
    inset-inline: 1rem;
    inset-block-end: 1rem;
    white-space: nowrap;
    pointer-events: none;
  }
} */
