@import "./../../common/modern-reset.css";
@import "./../../common/base.css";

h1,
h2,
button {
  margin-block: 1rem;
}

/* 혼자 만든 예시 */
.button-flex--burger {
  inline-size: 50px;
  block-size: 50px;
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .burger-bar-flex {
    inline-size: 100%;
    block-size: 20%;
    background-color: midnightblue;
    border-radius: 100px;

    transition: all 0.2s;
  }

  .burger-bar-flex-top {
    align-self: flex-start;
  }

  .burger-bar-flex-middle {
    align-self: center;
  }

  .burger-bar-flex-bottom {
    align-self: flex-end;
  }

  &:hover {
    .burger-bar-flex-top {
      margin-block: 50% -50%;
      translate: 0 -50%;
      rotate: -45deg;
    }

    .burger-bar-flex-middle {
      translate: 120% 0;
    }

    .burger-bar-flex-bottom {
      margin-block: -50% 50%;
      translate: 0 50%;
      rotate: 45deg;
    }
  }
}

/* 강사님 예시 */
/* .button-flex--burger {
  inline-size: 50px;
  block-size: 50px;
  position: relative;
  background-color: gray;
  border: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .burger-bar-flex {
    inline-size: 100%;
    block-size: 20%;
    background-color: midnightblue;
    border-radius: 100px;

    transition: all 0.2s;
  }

  .burger-bar-flex-top {
  }

  .burger-bar-flex-middle {
  }

  .burger-bar-flex-bottom {
  }

  &:hover {
    .burger-bar-flex-top {
      translate: ;
    }

    .burger-bar-flex-middle {
    }

    .burger-bar-flex-bottom {
    }
  }
} */

.button--burger {
  inline-size: 24px;
  block-size: 24px;
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  overflow: hidden;

  .burger-bar {
    position: absolute;
    inset-inline: 0;
    block-size: 20%;
    background-color: currentColor;
    border-radius: 100px;

    transition: all 0.2s;
  }

  .burger-bar-top {
    inset-block-start: 0;
  }

  .burger-bar-middle {
    inset-block-start: 50%;
    /* transform: translateY(-50%); */
    translate: 0 -50%;
  }

  .burger-bar-bottom {
    inset-block-start: 100%;
    /* transform: translateY(-100%); */
    translate: 0 -100%;
  }

  &:hover {
    .burger-bar-middle {
      /* transform: translate(-120%, -50%); */
      translate: 120% -50%;
    }

    .burger-bar-top {
      inset-block-start: 50%;
      /* transform: translateY(-50%) rotate(45deg); */
      translate: 0 -50%;
      rotate: -45deg;
    }

    .burger-bar-bottom {
      inset-block-start: 50%;
      /* transform: translateY(-50%) rotate(-45deg); */
      translate: 0 -50%;
      rotate: 45deg;
    }
  }
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.loading-spinner {
  inline-size: 48px;
  block-size: 48px;

  color: lightskyblue;

  svg {
    animation: spinner 1s infinite steps(12);
  }
}
