/* 포커스 스타일링 */
:focus {
  outline: none;
}

:focus-visible {
  box-shadow: 0 0 2px 2px rgb(224, 86, 86, 0.85);
  border-radius: 4px;
}

input:is([type="email"], [type="password"], [type="text"], [type="search"]):focus-visible {
  box-shadow: none;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
